// $black: #000;
// $bodyBackground: $black;
// $btnBackground: #00f;

@import "bootstrap";

body {
  font-family: 'Oxygen', sans-serif;
  // background: image-url("classy_fabric.png") #2B2C2C;
  // color: #fff;
}

#page {
  max-width: 820px;
  display: block;
  border: 2px solid #A7FF49;
  border-radius: 2em;
  padding: 1em;
  margin: 1em auto;
}

input[type="submit"],
button {
  @extend .btn;
}

table {
  @extend .table, .table-striped, .table-hover;
}

td.actions a {
  @extend .btn;
}

td.actions .destroy {
  @extend .btn-danger;
}

.new {
  @extend .btn, .btn-primary;
}

input[type="submit"] {
  @extend .btn-primary;
}

.alert:empty {
  display: none;
}

.back {
  @extend .btn, .btn-info;
}

nav ul {
  @extend .nav, .nav-pills;
}
.site-title,
.blog-title {
  margin-bottom: 0;
}

.site-description,
.blog-description {
  font-size: 1em;
  margin-top: 0;
}