// $black: #000;
// $bodyBackground: $black;
// $btnBackground: #00f;

@import "bootstrap";

body {
  font-family: 'Oxygen', sans-serif;
  // background: image-url("classy_fabric.png") #2B2C2C;
  // color: #fff;
}

#page {
  max-width: 820px;
  display: block;
  border: 2px solid #A7FF49;
  border-radius: 2em;
  padding: 1em;
  margin: 1em auto;
}

#blog-toolbar {
  position: absolute;
  top: 3px;
  right: 3px;
}

input[type="submit"],
button {
  @extend .btn;
}

input[type="submit"] {
  @extend .btn-primary;
}

table {
  @extend .table, .table-striped, .table-hover;
}

.new {
  @extend .btn, .btn-primary;
}

form .delete-account {
  @extend .btn, .btn-danger
}

input[type="file"] {
  line-height: 1;
}

.alert:empty {
  display: none;
}

.back {
  @extend .btn, .btn-info;
}

nav ul {
  @extend .nav, .nav-pills;
}
.site-title,
.blog-title {
  margin-bottom: 0;
}

.site-description,
.blog-description {
  font-size: 1em;
  margin-top: 0;
}

.new-post-links {
  @extend .btn-group;
  & a {
    @extend .btn;
  }
}

.main {
  max-width: 625px;
  margin: 0 auto;
}

.post {
  border: 1px solid #CCC;
  border-radius: 0.2em;
  margin: 1em 0;
  padding: 1em;
}

.chat-content .line {
  min-height: 1.4em;
  &:nth-child(even) {
    background: #ddd;
  }
}

.video iframe {
  max-width: 100%;
  height: 340px;
}

.follow,
.unfollow {
  @extend .btn, .btn-mini
}

.follow {
  @extend .btn-success
}

.unfollow {
  @extend .btn-danger
}

div.github-fork-ribbon {
  background-color: $linkColor;
}